@using System.Threading.Tasks
@using Microsoft.AspNetCore.Identity
@using TravelBuddy.Models
@using TravelBuddyDatabase.Entities
@*using TravelBuddy.Controllers*@
@model IEnumerable<TravelBuddy.Models.Messages.MessagesViewModel>
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Messages";
}

<h2>Messages</h2>

@*<div>
    <a asp-action="Index">Refresh page</a>
</div>*@

<form asp-action="Index">
    <div class="form-horizontal">
      
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      
    </div>
    <br>
    
    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-4">
                <h4>Recent conversations:</h4> <!-- RECENT CONVERSATION -->
                <div class="list-group" style="margin-bottom: 15px;">
                   @foreach (var item in Model) 
                   {
                            <a href="#@Html.DisplayFor(modelItem => item.SentFrom)" class="list-group-item">
                                @Html.DisplayFor(modelItem => item.SentFrom)
                            <span class="badge">@Html.DisplayFor(modelItem => item.IsRead)</span></a>
                   }
                                                                     
                </div>
                <p class="text-right"><a asp-action="AllConversations">Show all...</a></p>

                <h4>Start new conversation:</h4> <!-- NEW CONVERSATION -->
                <div class="input-group">
                    <input type="text" style="max-width: 100%;" class="form-control" placeholder="username@mail.com">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> </button>
                    </span>
                </div>

            </div>

            <div class="panel panel-primary col-md-8" style="padding:0px 0px 0px 0px; ">
                <!-- Default panel contents -->
                <div class="panel-heading">Saul McGill</div>
                <div class="panel-body">

                    <p class="text-left">Hi buddy, how are things? :)<br><span class="small text-muted">10.1.2017 10:30</span></p>

                    <p class="text-right" data-toggle="tooltip" title="10.1.2017 10:30">Pretty freaking awesome dude! xD</p>
                   
                </div>
                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item" style="border:none">
                        <div class="input-group">
                            <input type="text" style="max-width: 100%;" class="form-control" placeholder="Reply text">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-send" aria-hidden="true"></span></button>
                            </span>
                        </div><!-- /input-group -->
                    </li>
                </ul>
            </div>
        </div>
    </div>
</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
